In [2]:
#1 імпорт файлу
import pandas as pd
import numpy as np

df = pd.read_csv("C:/Users/Саша/Desktop/bestsellers with categories.csv", encoding="cp1251")

In [ ]:
#2.	Виведіть перші 10 рядків (метод head)
df.head(10)

In [3]:
#3.	Виведіть розміри датасету (метод shape)
df.shape
#550 книжок

(550, 7)

In [5]:
#4.	Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.
data = pd.read_csv("C:/Users/Саша/Desktop/bestsellers with categories.csv", encoding="cp1251")
data.columns = ["name", "author", "user_rating", "reviews", "price", "year", "genre"]
df = pd.DataFrame(data)
df.head(5)

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [6]:
#5.	Вивести кількість пропусків у кожному стовпчику.
values = data.isna().sum()
print(values)
#пропусків немає

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

In [8]:
#6.	За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre 

genres = data["genre"].unique()

print("два жанри", genres)

два жанри ['Non Fiction' 'Fiction']

In [15]:
#7.	Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median
max_price = data["price"].max()
min_price = data["price"].min()
mean_price = data["price"].mean()
median_price = data["price"].median()

print(f"Максимальна ціна: {max_price} \nМінімальна ціна: {min_price} \n"
      f"Середня ціна: {mean_price} \nМедіанна ціна: {median_price}")

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

In [18]:
#Який рейтинг у датасеті найвищий?
max_rating = data["user_rating"].max()

#Скільки книг мають такий рейтинг? 
max_rating_book = data[data["user_rating"] == max_rating]
count_books = len(max_rating_book)

#Яка книга має найбільше відгуків?
max_reviews = data.loc[data["reviews"].idxmax()]
name_of_book = max_reviews["name"]

#З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
max_year = data[(data["year"] == 2010)]
max_price = max_year["price"].max()
most_expensive_book = max_year[max_year["price"] == max_price]

#Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році  
fiction = data[(data["genre"] == "Fiction")]
date = fiction[(fiction["year"] == 2010)]
book_count = len(date)

# Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)?
big_rating = data[(data["user_rating"] == 4.9) & (data["year"].isin([2010, 2011]))]
books = len(big_rating)

print(f"Максимальний рейтинг в датасеті: {max_rating} \n\nКількість книг з високим ",
      f"рейтингом: {count_books} \n\nКнига з найбільшою кількістю відгуків: {name_of_book}")
print(f"\nЗ тих книг, що потрапили до Топ-50 у 2010 році, найдорожча книга: \n{most_expensive_book['name'].iloc[0]}")   
print(f"\nКількість книг жанру 'Fiction', які потрапили до Топ-50 у 2012 році: {book_count}")
print(f"\nКількість книг з рейтингом 4.9, які потрапили до Топ-50 у 2010 або 2011 роках: {books}")

Максимальний рейтинг в датасеті: 4.9

Кількість книг з високим  рейтингом: 52

Книга з найбільшою кількістю відгуків: Where the Crawdads Sing

З тих книг, що потрапили до Топ-50 у 2010 році, найдорожча книга:
Publication Manual of the American Psychological Association, 6th Edition

Кількість книг жанру 'Fiction', які потрапили до Топ-50 у 2012 році: 20

Кількість книг з рейтингом 4.9, які потрапили до Топ-50 у 2010 або 2011 роках: 1

In [20]:
#9.Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg,
#для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.
filteredf = data[data["genre"].isin(["Fiction", "Non Fiction"])]

matchedcols = {
    "price": ["min", "max"]
}

result = filteredf.groupby("genre").agg(matchedcols)
print(result)

            price
              min  max
genre
Fiction         0   82
Non Fiction     0  105